.bookingInfocontainer {
  max-width: 546px;
  box-shadow: 0px 3px 2px 2px rgba(83, 83, 83, 0.25);
}
.bookingInfoTop {
  display: flex;
  background-color: var(--primary-color);
  border-radius: 1rem 1rem 0 0;
  padding: 0.8rem;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}
.bookingInfoToph2 {
  font-weight: 700;
  font-size: 1.2rem;
}
.flex {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.bookingInfoBody1 {
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--status-light-blue);
}
.driverCirclePic {
}
.flexInputContainer {
}
.flexInput {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
}
.textLight2 {
  font-weight: 600;
  font-size: 1rem;
  color: var(--white);
}
.fontLight3 {
  font-weight: 500;
  color: #d4d1de;
  font-size: 1rem;
}
.selectBg {
  background-color: #d4d1de;
  border-radius: 3px;
  padding: 0.2rem;
}
.fontMainbold {
  font-weight: 700;
  font-size: 1.1rem;
  outline: none;
  width: 13rem;
}
.fontLight {
  color: #8d8b8b;
}
.textBlue {
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary-color);
  text-transform: uppercase;
}
.styleDivList {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.styleLiList {
  display: flex;
  justify-content: space-between;
}
.styleUlList {
  margin: 1rem 0;
  text-transform: uppercase;
  color: #8d8b8b;
  font-weight: 500;
}
.fontBold {
  font-weight: 600;
  color: var(--black);
}

.bookingInfoBody4 {
  padding: 0.5rem 1.5rem;
}
.flexButtonsContainer {
  display: grid;
}
.bookingInfobutton {
  border-radius: 999px;
  padding: 0.2rem;
  width: 2.2rem;
  height: 2.2rem;
  background-color: var(--white);
  box-shadow: 0px 1px 1px 2px rgba(83, 83, 83, 0.25);
}
.bookingInfobutton img {
  width: 100%;
  height: 100%;
}

.bookingInfoBody2 {
  padding: 1rem 0.5rem;
}
.bookingInfoBodyP {
  margin-bottom: 0.6rem;
}
.bookingInfoBody3 {
  padding: 0.5rem 1.5rem;
  border-bottom: dotted var(--status-gray) 1px;
  border-top: dotted var(--status-gray) 1px;
}
.bookingInfoBody3Flex {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 0.6rem;
}
.bookingInfoBody3Flex img {
  height: 2.1rem;
  width: 2.1rem;
}
.noteContainer {
  margin: 1rem 0;
  background-color: #fffcd2;
  padding: 0.4rem 1rem;
}

.noteContainer p {
  color: #1b1b1b;
  font-weight: 600;
  font-size: 1rem;
}
.bookingInfobottom {
  padding: 0.8rem;
  background-color: var(--primary-color);
}
.timeContainer {
  margin-bottom: 1rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.amountContainer {
  display: grid;
  grid-template-columns: minmax(75%, 60%) 1fr;
  gap: 2rem;
}
.bottomFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottomFlex span {
  font-weight: 700;
  font-size: 2rem;
  color: var(--white);
}
.buttonCircle {
  border-radius: 999px;
  padding: 0.5rem;
  font-size: 1rem;
}
.buttonCircleCheck {
  background-color: var(--white);
  color: var(--primary-color);
}
.buttonCircleCross {
  background-color: var(--red);
  color: var(--white);
}
.slider {
  overflow-x: auto;
  height: 18rem;
  scrollbar-color: var(--primary-color) var(--white);
  scrollbar-width: thin;
}
.slider::-webkit-scrollbar {
  width: 10px; /* You can adjust the width as needed */
}

.slider::-webkit-scrollbar-track {
  background: #ff0000;
}

.slider::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
/* Opera */
/* Blink (Opera) */
.slider::-webkit-scrollbar-track {
  background: #ff0000;
}

.slider::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
/* Hide scrollbar buttons (arrows) */
.slider::-webkit-scrollbar-button {
  display: none;
}
.slider::-moz-scrollbar-button {
  /* Firefox */
  display: none;
}
