.MessagesMainCont {
  background-color: var(--white) !important;
  padding: 2rem;
  height: 100vh;
}
.MessagesMainContTop {
  gap: 1rem;
  display: flex;
}
.MessagesMainContToph2 {
}
.MessagesMainContBody {
  margin-top: 1.5rem;
  gap: 3rem;
  display: flex;
  align-items: flex-start;
}
.MessagesMainContBodyDiv {
  display: flex;
  gap: 1rem;
}
.flexText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
