.assignDriverModalContainer {
  border-radius: var(--border-radius);
  max-width: 546px;
  box-shadow: 0px 3px 2px 2px rgba(83, 83, 83, 0.25);
}
.assignDriverModalTop {
  display: flex;
  background-color: var(--primary-color);
  border-radius: 1rem 1rem 0 0;
  padding: 0.8rem;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}
.assignDriverModalBottom {
  display: flex;
  background-color: var(--primary-color);
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 0.8rem;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.assignDriverModalh2 {
  font-weight: 700;
  font-size: 1.2rem;
}
.assignDriverModalBody {
  padding: 1rem;
}
.containerDriverBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 0.2rem 0.4rem;
}
.active {
  border-radius: 999px;
  background: var(--status-light-blue);
}
.containerDriverPicandName {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}
.flexSortby {
  display: flex;
  align-items: center;
}
.flexTopData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.flexTopDatah2 {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--black);
}
.buttonCall {
  border-radius: 999px;
  padding: 0.2rem;
  background-color: var(--white);
  box-shadow: 0px 1px 1px 2px rgba(83, 83, 83, 0.25);
}
.containerDriverPicandNameh2 {
  font-weight: 700;
  font-size: 1rem;
}
.containerDriverPicandNameP {
  font-weight: 600;
  font-size: 0.7rem;
  color: var(--status-gray);
}
.buttonCall img {
  height: 2.2rem;
  width: 2.2rem;
}
