.flexDivInput {
  position: relative;
  max-width: 25rem;
  margin: 1rem auto;
}

.iconLock {
  position: absolute;
  top: 45%;
  font-size: 1.3rem;
  left: 3%;
}

.inputPass {
  border-radius: var(--border-radius);
  background-color: var(--status-light-blue);
  height: 3.125rem;
  width: 25rem;
  padding: 0.3rem 3rem 0.3rem 3rem;
  outline: none;
  margin-bottom: 0.5rem;
}

.goeye {
  position: absolute;
  right: 3%;
  font-size: 1.3rem;
  top: 45%;
}
